<div class="item-list">
    {% for item in testList %}
        <div class="item" data-id="{{ item._id }}">
            <div class="text-box">
                <div class="box box-1">
                    <div class="question-text">
                        {{ item.questionText }}
                    </div>
                    <div class="wrong-text">
                        {{ item.wrongText|raw }}
                    </div>
                </div>
                <div class="box box-2">
                    <div class="answer-text">
                        <div class="caption">Ответ</div>
                        {{ item.answerText }}
                    </div>
                    <div class="right-text">
                        {{ item.rightText }}
                    </div>
                </div>
            </div>

            <div class="panel-button">
                <a href="#" class="item-btn answer" data-text="Показать вопрос">Показать ответ</a>
            </div>

            <div class="status"></div>
        </div>
    {% endfor %}
</div>