{% extends "global/index.twig" %}

{% block content %}
    <style>
        .course-list{
            overflow: hidden;
        }

        /*.course-list .item {
            float: left;
            line-height: 0;
            margin:0 20px 30px 0;
            border: 1px solid #f4f4f4;
            background: white;
            width: 240px;

            -webkit-border-radius: 8px;
            -moz-border-radius: 8px;
            border-radius: 8px;
            overflow: hidden;

            display: block;

            position: relative;

            -webkit-box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.07);
            -moz-box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.07);
            box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.07);
        }

        .course-list .item .preview{
            position: relative;
        }

        .course-list .item.lock .lock{
            display: none;
            position: absolute;
            bottom: -20px;
            right: 20px;
            background: url('/res/img/raznoe/lock.png');
            width: 41px;
            height: 62px;
        }

        .course-list .item.lock .lock{
            display: block;
        }

        .course-list .item .text{
            padding: 0 10px;
            color: #4e4e4e;
        }

        .course-list .item .preview.disable .preview {
            opacity: 0.2;
        }

        .course-list .item h2{
            font-size: 14px;
            font-weight: bold;
            margin-top: 15px;
        }

        .course-list .item p.description{
            font-size: 13px;
            color: #6f6f6f;
        }

        .course-list .level-box{
            -webkit-border-radius: 8px;
            -moz-border-radius: 8px;
            border-radius: 8px;

            -webkit-transition: all .2s linear 0s;
            -moz-transition: all .2s linear 0s;
            -o-transition: all .2s linear 0s;
            transition: all .2s linear 0s;


            position: absolute;

            width: 240px;
            height: 197px;

            -webkit-box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.07);
            -moz-box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.07);
            box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.07);
        }

        .course-list .level-1{
            background: rgba(255, 255, 255, 0.5);
            top: 10px;
            right: 10px;
            border: 1px solid #d3d3d3;
            opacity: 0;
        }

        .course-list .level-base:hover .level-1{
            top: 0;
            right: 0;
            opacity: 1;
        }

        .course-list .level-2{
            background: rgba(255, 255, 255, 0.8);
            top: 10px;
            right: 10px;
            border: 1px solid #d3d3d3;
            opacity: 0;
        }

        .course-list .level-base:hover .level-2{
            opacity: 1;
        }

        .course-list .level-3{
            top: 10px;
            right: 10px;
        }

        .course-list .level-base:hover .level-3{
            top: 20px;
            right: 20px;
        }

        .level-base{
            overflow: hidden;
            float: left;
            height: 239px;
            width: 270px;
            position: relative;
        }*/




        .course-list .item{
            height: 234px;
            background: #fff;
            float: left;
            overflow: hidden;
            margin: 15px 0 0 15px;
            cursor: pointer;
            position: relative;
            display: inline-block;
            width: 252px;
            text-decoration: none;

            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            border-radius: 4px;
        }

        .course-list .item img{
            display: block;
            width: 100%;
            height: 152px;
            vertical-align: top;
        }

        .course-list .item .preview.disable .preview {
            opacity: 0.2;
        }

        .course-list .item .text{
            display: block;
            height: 234px;
            padding: 0 15px;
            text-decoration: none;
            position: absolute;
            width: 100%;
            background-color: white;
            top: 152px;

            -moz-transition-duration: 0.28s;
            -o-transition-duration: 0.28s;
            -webkit-transition-duration: 0.28s;
            transition-duration: 0.28s;
        }

        .course-list .item:hover .text, .course-list .item.hover .text{
            top: 0;

        }
        
        .course-list .item .txt-preview{
            height: 82px;
            overflow: hidden;
        }

        .course-list .item .txt-preview .inner{
            display: table-cell;
            vertical-align: middle;
            line-height: 21px;
            color: #3a3a3a;
            font-size: 21px;
            font-weight: normal;
            height: 82px;
        }

        .course-list .item .txt-preview .description{
            font-size: 13px;
            font-weight: normal;
            color: #a7a7a7;
            display: block;
        }

        .course-list .item .txt-preview .title{
            line-height: 21px;
            color: #3a3a3a;
            font-size: 21px;
            font-weight: normal;
            display: block;
        }

    </style>

    <div id="maincontentcontainer">
        <div id="maincontent" class="container">

            <h1>Программа изучения</h1>

            <div class="course-list">

                <div class="level-base">
                    <div class="level-box">
                        <a class="item" href="{{ route('course.category', 'be-have') }}">
                           <div class="img-preview">
                                <img src="/res/img/raznoe/be-have-2.jpg" class="preview"/>
                                <div class="lock"></div>
                            </div>
                            <div class="text">
                                <div class="txt-preview">
                                    <div class="inner">
                                        <span class="title">Урок 1. Основы</span>
                                        <span class="description">Основы основ английского</span>
                                    </div>
                                </div>
                                <p class="body"></p>
                                <span class="btn">Продолжить</span>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="level-base">
                    <div class="level-1 level-box"></div>
                    <div class="level-2 level-box"></div>
                    <div class="level-3 level-box">
                        <a class="item lock" href="{{ route('course.category', 'past-simple') }}">
                            <div class="preview disable">
                                <img src="/res/img/raznoe/past-tense.jpg" class="preview"/>
                                <div class="lock"></div>
                            </div>
                            <div class="text">
                                <h2 class="title">Урок 2. Прошедшее времся</h2>
                                <p class="description">Как говорить о прошлом?</p>
                            </div>
                        </a>
                    </div>
                </div>


                <div class="level-base">
                    <div class="level-1 level-box"></div>
                    <div class="level-2 level-box"></div>
                    <div class="level-3 level-box">
                        <a class="item lock" href="{{ route('course.category', 'past-simple') }}">
                            <div class="preview disable">
                                <img src="/res/img/raznoe/present-tense.jpg" class="preview"/>
                                <div class="lock"></div>
                            </div>
                            <div class="text">
                                <h2 class="title">Урок 2. Прошедшее времся</h2>
                                <p class="description">Как говорить о прошлом?</p>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="level-base">
                    <div class="level-1 level-box"></div>
                    <div class="level-2 level-box"></div>
                    <div class="level-3 level-box">
                        <a class="item lock" href="{{ route('course.category', 'past-simple') }}">
                            <div class="preview disable">
                                <img src="/res/img/raznoe/present-tense.jpg" class="preview"/>
                                <div class="lock"></div>
                            </div>
                            <div class="text">
                                <h2 class="title">Урок 2. Прошедшее времся</h2>
                                <p class="description">Как говорить о прошлом?</p>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="level-base">
                    <div class="level-1 level-box"></div>
                    <div class="level-2 level-box"></div>
                    <div class="level-3 level-box">
                        <a class="item lock" href="{{ route('course.category', 'past-simple') }}">
                            <div class="preview disable">
                                <img src="/res/img/raznoe/present-tense.jpg" class="preview"/>
                                <div class="lock"></div>
                            </div>
                            <div class="text">
                                <h2 class="title">Урок 2. Прошедшее времся</h2>
                                <p class="description">Как говорить о прошлом?</p>
                            </div>
                        </a>
                    </div>
                </div>


                <div class="level-base">
                    <div class="level-1 level-box"></div>
                    <div class="level-2 level-box"></div>
                    <div class="level-3 level-box">
                        <a class="item lock" href="{{ route('course.category', 'past-simple') }}">
                            <div class="preview disable">
                                <img src="/res/img/raznoe/present-tense.jpg" class="preview"/>
                                <div class="lock"></div>
                            </div>
                            <div class="text">
                                <h2 class="title">Урок 2. Прошедшее времся</h2>
                                <p class="description">Как говорить о прошлом?</p>
                            </div>
                        </a>
                    </div>
                </div>


                <div class="level-base">
                    <div class="level-1 level-box"></div>
                    <div class="level-2 level-box"></div>
                    <div class="level-3 level-box">
                        <a class="item lock" href="{{ route('course.category', 'past-simple') }}">
                            <div class="preview disable">
                                <img src="/res/img/raznoe/present-tense.jpg" class="preview"/>
                                <div class="lock"></div>
                            </div>
                            <div class="text">
                                <h2 class="title">Урок 2. Прошедшее времся</h2>
                                <p class="description">Как говорить о прошлом?</p>
                            </div>
                        </a>
                    </div>
                </div>


            </div>

        </div>
    </div>

{% endblock %}