{% extends "global/index.twig" %}

{% block content %}
    <style>
        .course-list{
            overflow: hidden;
        }

        .course-list .item {
            float: left;
            line-height: 0;
            margin-right: 20px;
        }

        .course-list .item .preview{
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            border-radius: 4px;

            -webkit-box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.07);
            -moz-box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.07);
            box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.07);

            border: 1px solid #f4f4f4;
        }

        .course-list .item .preview.disable {
            -webkit-filter: grayscale(100%);
            filter: grayscale(100%);
            filter: gray;
            filter: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' height='0'><filter id='greyscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0' /></filter></svg>#greyscale");
        }

        .course-list .item h2{
            font-size: 16px;
            font-weight: bold;
        }

        .course-list .item p.description{
            font-size: 14px;
        }
    </style>

    <div id="maincontentcontainer">
        <div id="maincontent">

            <h1>{{ courseData.name }}</h1>
            <h2>Грамматика</h2>

            <div class="course-list">
                <div class="item">
					<a href="{{ route('course.grammar', courseData.url ) }}">
						<img src="/res/img/raznoe/be-have.jpg" class="preview"/>
						<h2>Be-have</h2>
						<p class="description">Be-have</p>
					</a>
                </div>

                {% for id, num in courseData.data.pendulum %}
                    <div class="item">
                        <a href="{{ route('course.pendulum', id) }}">
                            <img src="/res/img/raznoe/pendulum.png" class="preview"/>
                            <h2>Маятник №{{ num }}</h2>
                            <p class="description">Be-have</p>
                        </a>
                    </div>
                {% endfor %}

                {% for id, num in courseData.data.trashMistake %}
                    <div class="item">{{ key }}
                        <a href="{{ route('course.trash-mistake', id) }}">
                            <img src="/res/img/raznoe/grammar-test.png" class="preview"/>
                            <h2>Trash mistake №{{ num }}</h2>
                            <p class="description">Тест грамматики</p>
                        </a>
                    </div>
                {% endfor %}

                {% for id, num in courseData.data.question %}
                    <div class="item">{{ key }}
                        <a href="{{ route('course.question-answer', id) }}">
                            <img src="/res/img/raznoe/grammar-test.png" class="preview"/>
                            <h2>Вопрос ответ №{{ num }}</h2>
                            <p class="description">Тест грамматики</p>
                        </a>
                    </div>
                {% endfor %}

                <div class="item">
                    <a href="#">
                        <img src="/res/img/raznoe/pendulum01.png" class="preview"/>
                        <h2>Экзамен на Be-have</h2>
                        <p class="description">Экзамен</p>
                    </a>
                </div>

            </div>

            <h2>Увеличиваем словарный запас</h2>
            <div class="course-list">

                <!--{% for name in courseData.data.joke %}
                    <div class="item">
                        <a href="{{ route('course.joke', name) }}">
                            <img src="/res/img/raznoe/pendulum.png" class="preview"/>
                            <h2>Talking frog</h2>
                            <p class="description">Анекдот №1</p>
                        </a>
                    </div>
                {% endfor %} -->

                {% for name in courseData.data.abstract %}
                    <div class="item">
                        <a href="{{ route('material.getabstract', name) }}">
                            <img src="/res/img/raznoe/pendulum01.png" class="preview"/>
                            <h2>GetAbstract</h2>
                            <p class="description">Eat with frog</p>
                        </a>
                    </div>
                {% endfor %}

                {% for name in courseData.data.video %}
                    <div class="item">
                        <a href="{{ route('material.video', name) }}">
                            <img src="/res/img/raznoe/pendulum01.png" class="preview"/>
                            <h2>Christmas Tree</h2>
                            <p class="description">Видео</p>
                        </a>
                    </div>
                {% endfor %}

                {% for name in courseData.data.verbs %}
                    <div class="item">
                        <a href="{{ route('material.card', name) }}">
                            <img src="/res/img/raznoe/pendulum01.png" class="preview"/>
                            <h2>Глаголы</h2>
                            <p class="description">Новые глаголы №{{ name }}</p>
                        </a>
                    </div>
                {% endfor %}


                {% for name in courseData.data.verbs %}
                    <div class="item">
                        <a href="{{ route('course.speaking', name) }}">
                            <img src="/res/img/raznoe/pendulum01.png" class="preview"/>
                            <h2>Устойчивые выражения</h2>
                            <p class="description">Speaking {{ name }}</p>
                        </a>
                    </div>
                {% endfor %}


			</div>




        </div>
    </div>

{% endblock %}