{% extends "global/index.twig" %}

{% block content %}
    {% spaceless %}
        <style>
            .course-list{
                overflow: hidden;
            }


            .course-list .item {
                float: left;
                width: 220px;
                height: 320px;
                line-height: 0;
                margin: 20px 0 3px 20px;
                position: relative;

                -webkit-border-radius: 9px;
                -moz-border-radius: 9px;
                border-radius: 9px;

                overflow: hidden;

                -webkit-box-shadow: 0px 3px 0px 0px rgba(0,0,0,0.1);
                -moz-box-shadow: 0px 3px 0px 0px rgba(0,0,0,0.1);
                box-shadow: 0px 3px 0px 0px rgba(0,0,0,0.1);

                border: 1px solid #cdcdcd;
            }

            .course-list .item.noshadow{
                -webkit-box-shadow: none;
                -moz-box-shadow: none;
                box-shadow: none;

                border: 0;
            }

            .course-list .item a{
                display: block;
                overflow: hidden;
                line-height: 0;
                font-size: 0;
            }

            .course-list .item .text{
                padding: 0 10px;
                bottom: 20px;
                position: absolute;
                color: #fff;
            }

            .course-list .item .text.dark{
                color: #000;
            }

            .course-list .item .caption{
                font-size: 18px;
                line-height: 22px;
                /*color: #fecc33; */

            }

            .course-list .item .description{
                font-size: 12px;
                line-height: 14px;
            }

            .course-list .item.locked .locked {
                background: url('/res/img/raznoe/lock.png');
                display: block;
            }

            .course-list .item:hover .access{
                bottom: 12px;

            }

            .course-list .item .access{
                width: 41px;
                height: 62px;
                position: absolute;
                bottom: 10px;
                right: 10px;
                display: none;
            }

            .course-list .item.time .time {
                background: url('/res/img/raznoe/time.png');
                display: block;
            }
        </style>

        <div id="maincontentcontainer">
            <div id="maincontent" class="container">

                <h1>{{ courseData.name }}</h1>
                <h2>Грамматика</h2>

                <div class="course-list">
                    <div class="item">
                        <a href="{{ route('grammar.index', courseData.url ) }}">
                            <img src="/res/img/course/be-have/list-icon.jpg" class="preview"/>

                            <div class="text">
                                <div class="caption">Be и have</div>
                                <div class="description">Грамматика</div>
                                <div class="info"></div>
                            </div>
                        </a>
                    </div>

                    <div class="item noshadow">
                        <a href="{{ route('material.abstract.choose', courseData.url ) }}?_from={{ thisPath }}">
                            <img src="/res/img/empty.png" class="preview"/>
                        </a>
                    </div>

                    {# Видео ---------------------------------------- #}
                    {% for key, item in courseData.data.video %}
                        {% set class = 'locked' %}
                        {% if item.isInit %}
                            {% set class = item.isOpen ? '' : 'time' %}
                        {% endif %}
                        <div class="item">
                            <a href="{{ route('material.video', key) }}">
                                <img src="/res/img/course/video/{{ key }}.jpg" class="preview"/>
                                <div class="text">
                                    <div class="caption">{{ item.info }}</div>
                                    <div class="description">Видео</div>
                                    <div class="info"></div>
                                </div>

                                <div class="locked access"></div>
                                <div class="time access"></div>
                            </a>
                        </div>
                    {% endfor %}

                    {# Маятник ---------------------------------------- #}
                    {% for id, item in courseData.data.pendulum %}
                        {% set class = 'locked' %}
                        {% if item.isInit %}
                            {% set class = item.isOpen ? '' : 'time' %}
                        {% endif %}

                        <div class="item {{ class }}">
                            <a href="{{ route('course.pendulum', id) }}">
                                <img src="/res/img/pendulum.jpg" class="preview"/>
                                <div class="text dark">
                                    <div class="caption">Маятник №{{ item.info }}</div>
                                    <div class="description">Be-have</div>
                                    <div class="info"></div>
                                </div>

                                <div class="locked access" title="Доступ закрыт"></div>
                                <div class="time access" title="Ожидается открытие"></div>
                            </a>
                        </div>
                    {% endfor %}

                    {# Trash mistake ---------------------------------------- #}
                    {% for id, item in courseData.data.trashMistake %}
                        {% set class = 'locked' %}
                        {% if item.isInit %}
                            {% set class = item.isOpen ? '' : 'time' %}
                        {% endif %}
                        <div class="item {{ class }}">
                            <a href="{{ route('course.trash-mistake', id) }}">
                                <img src="/res/img/trash.jpg" class="preview"/>

                                <div class="text dark">
                                    <div class="caption">Trash mistake №{{ item.info }}</div>
                                    <div class="description">Тест грамматики</div>
                                    <div class="info"></div>
                                </div>

                                <div class="locked access" title="Доступ закрыт"></div>
                                <div class="time access" title="Ожидается открытие"></div>
                            </a>
                        </div>
                    {% endfor %}

                    {# Вопрос ответ ---------------------------------------- #}
                    {% for id, item in courseData.data.question %}
                        {% set class = 'locked' %}
                        {% if item.isInit %}
                            {% set class = item.isOpen ? '' : 'time' %}
                        {% endif %}
                        <div class="item {{ class }}">
                            <a href="{{ route('course.question-answer', id) }}">
                                <img src="/res/img/question.jpg" class="preview"/>
                                <div class="text dark">
                                    <div class="caption">Вопрос ответ №{{ item.info }}</div>
                                    <div class="description">Тест грамматики</div>
                                    <div class="info"></div>
                                </div>

                                <div class="locked access" title="Доступ закрыт"></div>
                                <div class="time access" title="Ожидается открытие"></div>
                            </a>
                        </div>
                    {% endfor %}

                    {# Экзамен ---------------------------------------- #}
                    {% for id, item in courseData.data.exam %}
                        {% set class = 'locked' %}
                        {% if item.isInit %}
                            {% set class = item.isOpen ? '' : 'time' %}
                        {% endif %}
                        <div class="item {{ class }}">
                            <a href="{{ route('course.exam', id) }}">
                                <img src="/res/img/exam.jpg" class="preview"/>
                                <div class="text dark">
                                    <div class="caption">Экзамен на Be-have</div>
                                    <div class="description">Экзамен</div>
                                    <div class="info"></div>
                                </div>
                                <div class="locked access" title="Доступ закрыт"></div>
                                <div class="time access" title="Ожидается открытие"></div>
                            </a>
                        </div>
                    {% endfor %}

                </div>

                <div class="course-list">

                    <!--{% for name in courseData.data.joke %}
                        <div class="item">
                            <a href="{{ route('course.joke', name) }}">
                                <img src="/res/img/raznoe/pendulum.png" class="preview"/>
                                <h2>Talking frog</h2>
                                <p class="description">Анекдот №1</p>
                            </a>
                        </div>
                    {% endfor %} -->



                    {# GetAbstract ---------------------------------------- #}
                    {% for key, item in courseData.data.getabstract %}
                        {% set class = 'locked' %}
                        {% if item.isInit %}
                            {% set class = item.isOpen ? '' : 'time' %}
                        {% endif %}
                        <div class="item {{ class }}">
                            <a href="{{ route('material.getabstract', key) }}">
                                <img src="/res/img/course/abstract/{{ key }}.jpg" class="preview"/>
                                <div class="text dark">
                                    <div class="caption">{{ item.info }}</div>
                                    <div class="description">Summary</div>
                                    <div class="info"></div>
                                </div>

                                <div class="locked access"></div>
                                <div class="time access"></div>
                            </a>
                        </div>
                    {% endfor %}

                    {# Глаголы ---------------------------------------- #}
                    {% for id, item in courseData.data.verbs %}
                        {% set class = 'locked' %}
                        {% if item.isInit %}
                            {% set class = item.isOpen ? '' : 'time' %}
                        {% endif %}
                        <div class="item {{ class }}">
                            <a href="{{ route('material.card', id) }}">
                                <img src="/res/img/verb.jpg" class="preview"/>
                                <div class="text dark">
                                    <div class="caption">Новые глаголы №{{ item.info }}</div>
                                    <div class="description">Глаголы</div>
                                    <div class="info"></div>
                                </div>

                                <div class="locked access" title="Доступ закрыт"></div>
                                <div class="time access" title="Ожидается открытие"></div>
                            </a>
                        </div>
                    {% endfor %}

                    {# Устойчивые выражения ---------------------------------------- #}
                    {% for id, item in courseData.data.speaking %}
                        {% set class = 'locked' %}
                        {% if item.isInit %}
                            {% set class = item.isOpen ? '' : 'time' %}
                        {% endif %}
                        <div class="item {{ class }}">
                            <a href="{{ route('course.speaking', id) }}">
                                <img src="/res/img/speaking.jpg" class="preview"/>
                                <div class="text dark">
                                    <div class="caption">Speaking №{{ item.info }}</div>
                                    <div class="description">Устойчивые выражения</div>
                                    <div class="info"></div>
                                </div>

                                <div class="locked access"></div>
                                <div class="time access"></div>
                            </a>
                        </div>
                    {% endfor %}


                </div>




            </div>
        </div>
    {% endspaceless %}
{% endblock %}