{% extends "global/index.twig" %}

{% block content %}
    <style>
        .course-list{
            overflow: hidden;
        }

        .course-list .item {
            float: left;
            line-height: 0;
            margin-right: 20px;
            position: relative;
        }

        .course-list .item .preview{
            /*-webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            border-radius: 4px;

            -webkit-box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.07);
            -moz-box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.07);
            box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.07);

            border: 1px solid #f4f4f4;*/
        }

        .course-list .item .preview.disable {
            -webkit-filter: grayscale(100%);
            filter: grayscale(100%);
            filter: gray;
            filter: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' height='0'><filter id='greyscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0' /></filter></svg>#greyscale");
        }

        .course-list .item h2{
            font-size: 16px;
            font-weight: bold;
        }

        .course-list .item p.description{
            font-size: 14px;
        }

        .course-list .item.locked .locked {

            position: absolute;
            bottom: 30px;
            right: 20px;
            background: url('/res/img/raznoe/lock.png');
            width: 41px;
            height: 62px;
        }
    </style>

    <div id="maincontentcontainer">
        <div id="maincontent">

            <h1>{{ courseData.name }}</h1>
            <h2>Грамматика</h2>

            <div class="course-list">
                <div class="item">
					<a href="{{ route('grammar.index', courseData.url ) }}">
						<img src="/res/img/icon.png" class="preview"/>
						<h2>Грамматика</h2>
						<p class="description">Be-have</p>
					</a>
                </div>

                {# Маятник ---------------------------------------- #}
                {% for id, item in courseData.data.pendulum %}
                    {% if not item.open %}{% set class = 'locked' %}{% endif %}
                    <div class="item {{ class }}">
                        <a href="{{ route('course.pendulum', id) }}">
                            <img src="/res/img/pendulum.png" class="preview"/>
                            <h2>Маятник №{{ item.info }}</h2>
                            <p class="description">Be-have</p>
                        </a>
                        <div class="locked"></div>
                    </div>
                {% endfor %}

                {# Trash mistake ---------------------------------------- #}
                {% for id, item in courseData.data.trashMistake %}
                    {% if not item.open %}{% set class = 'locked' %}{% endif %}
                    <div class="item {{ class }}">
                        <a href="{{ route('course.trash-mistake', id) }}">
                            <img src="/res/img/raznoe/grammar-test.png" class="preview"/>
                            <h2>Trash mistake №{{ item.info }}</h2>
                            <p class="description">Тест грамматики</p>
                        </a>
                        <div class="locked"></div>
                    </div>
                {% endfor %}

                {# Вопрос ответ ---------------------------------------- #}
                {% for id, item in courseData.data.question %}
                    {% if not item.open %}{% set class = 'locked' %}{% endif %}
                    <div class="item {{ class }}">
                        <a href="{{ route('course.question-answer', id) }}">
                            <img src="/res/img/raznoe/grammar-test.png" class="preview"/>
                            <h2>Вопрос ответ №{{ item.info }}</h2>
                            <p class="description">Тест грамматики</p>
                        </a>
                        <div class="locked"></div>
                    </div>
                {% endfor %}

                {# Экзамен ---------------------------------------- #}
                <div class="item">
                    <a href="#">
                        <img src="/res/img/exam.png" class="preview"/>
                        <h2>Экзамен на Be-have</h2>
                        <p class="description">Экзамен</p>
                    </a>
                    <div class="locked"></div>
                </div>

            </div>

            <h2>Увеличиваем словарный запас</h2>
            <div class="course-list">

                <!--{% for name in courseData.data.joke %}
                    <div class="item">
                        <a href="{{ route('course.joke', name) }}">
                            <img src="/res/img/raznoe/pendulum.png" class="preview"/>
                            <h2>Talking frog</h2>
                            <p class="description">Анекдот №1</p>
                        </a>
                    </div>
                {% endfor %} -->

                {# Видео ---------------------------------------- #}
                {% for item in courseData.data.video %}
                    <div class="item">
                        <a href="{{ route('material.video', item.info) }}">
                            <img src="/res/img/video.png" class="preview"/>
                            <h2>Видео</h2>
                            <p class="description">{{ item.info }}</p>
                        </a>
                        <div class="locked"></div>
                    </div>
                {% endfor %}

                {# GetAbstract ---------------------------------------- #}
                {% for item in courseData.data.abstract %}
                    {% if not item.open %}{% set class = 'locked' %}{% endif %}
                    <div class="item {{ class }}">
                        <a href="{{ route('material.getabstract', item.info) }}">
                            <img src="/res/img/eat-that-frog.png" class="preview"/>
                            <h2>GetAbstract</h2>
                            <p class="description">{{ item.info }}</p>
                        </a>
                        <div class="locked"></div>
                    </div>
                {% endfor %}

                {# Глаголы ---------------------------------------- #}
                {% for item in courseData.data.verbs %}
                    {% if not item.open %}{% set class = 'locked' %}{% endif %}
                    <div class="item {{ class }}">
                        <a href="{{ route('material.card', item.info) }}">
                            <img src="/res/img/raznoe/pendulum01.png" class="preview"/>
                            <h2>Глаголы</h2>
                            <p class="description">Новые глаголы №{{ item.info }}</p>
                        </a>
                        <div class="locked"></div>
                    </div>
                {% endfor %}

                {# Устойчивые выражения ---------------------------------------- #}
                {% for item in courseData.data.verbs %}
                    {% if not item.open %}{% set class = 'locked' %}{% endif %}
                    <div class="item {{ class }}">
                        <a href="{{ route('course.speaking', item.info) }}">
                            <img src="/res/img/speaking.png" class="preview"/>
                            <h2>Устойчивые выражения</h2>
                            <p class="description">Speaking {{ item.info }}</p>
                        </a>
                        <div class="locked"></div>
                    </div>
                {% endfor %}


			</div>




        </div>
    </div>

{% endblock %}