{% extends "global/index.twig" %}

{% block head %}
    <link href="/res/css/test-card.css" rel="stylesheet"/>
    <link href="/res/bower_package/perfect-scrollbar/css/perfect-scrollbar.min.css" rel="stylesheet"/>
{% endblock %}

{% block footer %}
    <script src="/res/js/wumvi/Utils.js"></script>
    <script src="/res/bower_package/perfect-scrollbar/js/min/perfect-scrollbar.jquery.min.js"></script>

    <script>
        window.wumvi = window.wumvi || {};
        var coreUtils = new wumvi.Utils();
        coreUtils.initSelectTextInInput();

        wumvi.TrashMistake = function () {
            this.$root = jQuery('#wumvi-trash-mistake');
            this.$root.find('.item').each(function (num, obj) {
                new wumvi.TrashMistake.Form(obj);
            });
        };

        wumvi.TrashMistake.Form = function (itemRoot) {
            /** @type {jQuery} */
            this.$itemRoot = jQuery(itemRoot);
            /** @type {string} */
            this.id = this.$itemRoot.data('id');
            /** @type {string} */
            this.regexp = this.$itemRoot.data('regexp');

            /** @type {jQuery} */
            this.$input = this.$itemRoot.find('input[name="text"]');

            this.$btnCheck = this.$itemRoot.find('.item-btn.check');
            this.$btnAnswer = this.$itemRoot.find('.item-btn.answer');

            this.$itemRoot.find('.box').perfectScrollbar();

            this.RIGHT_ANSWER_CLASS = 'right-answer';
            this.WRONG_ANSWER_CLASS = 'wrong-answer';

            /** @type {string} */
            this.SHOW_ANSWER_BTN_CLASS = 'show-answer-btn';

            this.SHOW_ANSWER_CLASS = 'show-block-1';

            this.STATUS_QUESTION = 'question';
            this.STATUS_ANSWER = 'answer';

            this.status = this.STATUS_QUESTION;

            this.attachEvent();
        };

        wumvi.TrashMistake.Form.prototype.checkBtnClick = function () {
            var val = this.$input.val().trim();
            if ((new RegExp(this.regexp)).test(val)) {
                this.$itemRoot.removeClass(this.WRONG_ANSWER_CLASS).addClass(this.RIGHT_ANSWER_CLASS);
            } else {
                this.$itemRoot.removeClass(this.RIGHT_ANSWER_CLASS).addClass(this.WRONG_ANSWER_CLASS);
            }

            this.$itemRoot.addClass(this.SHOW_ANSWER_BTN_CLASS);
            return false;
        };

        wumvi.TrashMistake.Form.prototype.attachEvent = function () {
            var that = this;
            this.$btnCheck.click(function () {
                return that.checkBtnClick();
            });

            this.$btnAnswer.click(function () {
                return that.answerBtnClick();
            });

            this.$itemRoot.find('.close').click(function () {
                return that.closeAnswerBtnClick();
            });
        };

        wumvi.TrashMistake.Form.prototype.closeAnswerBtnClick = function () {
            this.status = this.STATUS_QUESTION;
            this.$itemRoot.removeClass(this.SHOW_ANSWER_CLASS);
            this.switchShowAnswerText();
            return false;
        };

        wumvi.TrashMistake.Form.prototype.answerBtnClick = function () {
            if (this.status == this.STATUS_ANSWER) {
                this.closeAnswerBtnClick();
                return false;
            }

            this.status = this.STATUS_ANSWER;
            this.$itemRoot.addClass(this.SHOW_ANSWER_CLASS);
            this.switchShowAnswerText();
            return false;
        };

        wumvi.TrashMistake.Form.prototype.switchShowAnswerText = function() {
            var text = this.$btnAnswer.data('text');
            var oldtext = this.$btnAnswer.html();
            this.$btnAnswer.data('text', oldtext);
            this.$btnAnswer.html(text);
        };

        new wumvi.TrashMistake();
    </script>
{% endblock %}

{% block content %}

    <style>
        .item-list .panel-button .item-btn.answer {
            background-color: transparent;
            display: none;
        }

        .item-list .item.show-answer-btn .item-btn.answer{
            display: block;
        }

        .item-list .item .text-box input.select-text {
            height: 30px;
            padding: 4px;
            font-size: 18px;
            width: auto;
            text-align: center;
            border: 1px solid #cdcdcd;
            border-radius: 4px;

        }

        .item-list .item .status{
            position: absolute;
            bottom: 4px;
            left: 4px;
            height: 74px;
            width: 74px;
            display: none;
        }


        .item-list .item:hover .status{
            opacity: 0.1;
        }

        .item-list .item.show-block-1 .status{
            display: none;
        }

        .item-list .item.right-answer .status{
            background: url('/res/img/right-answer.png') no-repeat center center;
            display: block;
        }

        .item-list .item.wrong-answer .status{
            background: url('/res/img/wrong-answer.png') no-repeat center center;
            display: block;
        }

        .item-list .item.show-block-1 .status{
            display: none;
        }

        .item-list .item.wrong-answer .text-box input.select-text {
            background: #ffe8e7;
            border: 1px solid #f1a6a2;
        }

        .item-list .item.right-answer .text-box input.select-text {
            background: #cfffe2;
            border: 1px solid #6aec9d;
        }
    </style>

    <div id="maincontentcontainer">
        <div id="maincontent" class="container">

            <div id="wumvi-trash-mistake" class="test-box">
                <div class="header">
                    <img src="/res/img/course/mistake/caption.png"/>
                </div>
                <div class="item-list">
                    {% for item in trashMistakeList %}
                        <div class="item" data-id="{{ item._id }}" data-regexp="{{ item.regexp }}">
                            <div class="text-box">
                                <div class="box box-1">
                                    <div class="question-text">
                                        {{ item.questionText }}
                                    </div>
                                    <div class="wrong-text">
                                        {{ item.wrongText|raw }}
                                    </div>
                                </div>
                                <div class="box box-2">
                                    <div class="answer-text">
                                        <div class="caption">Ответ</div>
                                        {{ item.answerText }}
                                    </div>
                                    <div class="right-text">
                                        {{ item.rightText }}
                                    </div>
                                </div>
                            </div>

                            <div class="panel-button">
                                <a href="#" class="item-btn check">Проверить</a>
                                <a href="#" class="item-btn answer" data-text="Показать вопрос">Показать ответ</a>
                            </div>

                            <div class="status"></div>
                        </div>
                    {% endfor %}
                </div>

                <div class="next-level-box">
                    <a href="{{ route('course.trash-mistake.nextlevel', trashMistakeName) }}" class="btn">
                        Я прошёл все тесты. Открыть следующий курс
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}