{% extends "global/index.twig" %}

{% block head %}
    <link href="/res/sass/bin/test-card.css" rel="stylesheet"/>
    <link href="/res/sass/bin/course/trashMistake.css" rel="stylesheet"/>
    <link href="/res/bower_package/perfect-scrollbar/css/perfect-scrollbar.min.css" rel="stylesheet"/>
{% endblock %}

{% block footer %}
    <script src="/res/js/loadjs.js"></script>
    <script>
        jQuery(document).ready(function(){
            loadJsList([
                '/res/bower_package/perfect-scrollbar/js/min/perfect-scrollbar.jquery.min.js',
                '/res/js/wumvi/Utils.js',
                '/res/js/course/TrashMistake.js'
            ]);
        });
    </script>
{% endblock %}

{% block content %}

    <style>
        #slider {
            background-image: url('/res/img/slider/slider-bg-01.jpg');
        }
    </style>

    <div id="slider">
        <div class="sliderinner">
            <a href="#" title="Как правильно учить граммитку?">
                <img src="/res/img/slider/mistake.png" title="Как правильно учить граммитку?"
                     alt="Как правильно учить граммитку?"/>
            </a>
        </div>
    </div>

    <div id="maincontentcontainer">
        <div id="maincontent" class="container">

            {% include 'global/breadcrumbs/breadcrumbs.twig' %}

            <div class="header">
                <a href="" class="back"></a>
                <img src="/res/img/course/mistake/caption.png"/>
            </div>

            <div id="wumvi-trash-mistake" class="test-box">
                <div class="item-list">
                    {% for item in trashMistakeList %}
                        <div class="item" data-id="{{ item._id }}" data-regexp="{{ item.regexp }}">
                            <div class="text-box">
                                <div class="box box-1">
                                    <div class="question-text">
                                        {{ item.questionText }}
                                    </div>
                                    <div class="wrong-text">
                                        {{ item.wrongText|raw }}
                                    </div>
                                </div>
                                <div class="box box-2">
                                    <div class="answer-text">
                                        <div class="caption">Ответ</div>
                                        {{ item.answerText }}
                                    </div>
                                    <div class="right-text">
                                        {{ item.rightText }}
                                    </div>
                                </div>
                            </div>

                            <div class="panel-button">
                                <a href="#" class="item-btn check">Проверить</a>
                                <a href="#" class="item-btn answer" data-text="Показать вопрос">Показать ответ</a>
                            </div>

                            <div class="status"></div>
                        </div>
                    {% endfor %}
                </div>

                <div class="next-level-box">
                    <a href="{{ route('course.trash-mistake.nextlevel', trashMistakeName) }}" class="btn">
                        Я прошёл все тесты. Открыть следующий курс
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}