{% extends "global/index.twig" %}

{% block head%}
   <link href="/res/css/test-card.css" rel="stylesheet"/>
   <link href="/res/bower_package/perfect-scrollbar/css/perfect-scrollbar.min.css" rel="stylesheet"/>
{% endblock %}

{% block footer %}
    <!--<script src="/res/js/wumvi/Utils.js"></script>-->
    <script src="/res/bower_package/perfect-scrollbar/js/min/perfect-scrollbar.jquery.min.js"></script>

    <script>
        window.wumvi = window.wumvi || {};
        //new wumvi.Utils();

        wumvi.TrashMistake = function(){
            this.$root =  jQuery('#wumvi-trash-mistake');

            this.$root.find('.item').each(function(num, obj){
               new wumvi.TrashMistake.Form(obj);
            });
        }

        wumvi.TrashMistake.Form = function(itemRoot){
            /** @type {jQuery} */
            this.$itemRoot = jQuery(itemRoot);
            /** @type {string} */
            this.id = this.$itemRoot.data('id');
            /** @type {string} */
            this.regexp = this.$itemRoot.data('regexp');
            /** @type {jQuery} */
            this.$input = this.$itemRoot.find('input[name="text"]');

            this.RIGHT_ANSWER_CLASS = 'right-answer';
            this.WRONG_ANSWER_CLASS = 'wrong-answer';
            this.SHORT_BTN_CLASS = 'short-btn';
            this.SHOW_ANSWER_CLASS = 'show-answer';

            this.initHeight();

            this.attachEvent();
        }

        wumvi.TrashMistake.Form.prototype.initHeight = function() {
            var $questionBox = this.$itemRoot.find('.question-box:first');
            var $answerBox = this.$itemRoot.find('.answer-box:first');

            var answerHeight = $answerBox.outerHeight();
            var questionHeight = $questionBox.outerHeight();

            if (questionHeight < answerHeight) {
                this.$itemRoot.css({'height': answerHeight});
            }else{
                this.$itemRoot.css({'height': questionHeight});
            }

            $answerBox.find('.answer-text').addClass('short-height');
        }

        wumvi.TrashMistake.Form.prototype.attachEvent = function() {
            var that = this;
            this.$itemRoot.find('.btn.check').click(function(){
                return that.checkBtnClick();
            });

            this.$itemRoot.find('.btn.answer').click(function(){
                return that.answerBtnClick();
            });

            this.$itemRoot.find('.close').click(function(){
                return that.closeAnswerBtnClick();
            });
        }

        wumvi.TrashMistake.Form.prototype.closeAnswerBtnClick = function() {
            this.$itemRoot.removeClass(this.SHOW_ANSWER_CLASS);
            return false;
        }

        wumvi.TrashMistake.Form.prototype.answerBtnClick = function() {
            this.$itemRoot.addClass(this.SHOW_ANSWER_CLASS);
            return false;
        }

        wumvi.TrashMistake.Form.prototype.checkBtnClick = function() {
            var val = this.$input.val().trim();
            if ((new RegExp(this.regexp)).test(val)){
                this.$itemRoot.removeClass(this.WRONG_ANSWER_CLASS).addClass(this.RIGHT_ANSWER_CLASS);
            } else {
                this.$itemRoot.removeClass(this.RIGHT_ANSWER_CLASS).addClass(this.WRONG_ANSWER_CLASS);
            }

            this.$itemRoot.addClass(this.SHORT_BTN_CLASS);
            return false;
        }

        //new wumvi.TrashMistake();
        jQuery('.item .box-2').perfectScrollbar();          // Initialize


    </script>
{% endblock %}

{% block content %}

    <style>

        /*#wumvi-trash-mistake .header{
            text-align: center;
        }

        #wumvi-trash-mistake .next-level-box{
            margin-top: 20px;
            text-align: center;
        }

        #wumvi-trash-mistake .next-level-box .btn:hover{
            background: #5fcf2d;
            color: #fff;
        }

        .test-box .item-list .item .question-header{
            background: url('/res/img/bg-item.png') no-repeat top center #fff;
        }*/




    </style>

    <div id="maincontentcontainer">
        <div id="maincontent" class="container">

            <div id="wumvi-trash-mistake" class="test-box">
                <div class="header">
                    <img src="/res/img/course/mistake/caption.png"/>
                </div>
                <div class="item-list">
                    {% for item in trashMistakeList %}
                        <div class="item show" data-id="{{ item._id }}" data-regexp="{{ item.regexp }}">
                            <div class="text-box">
                                <div class="box box-1">
                                    <div class="question-text">
                                        {{ item.questionText }}
                                    </div>
                                    <div class="wrong-text">
                                        {{ item.wrongText|raw }}
                                    </div>
                                </div>
                                <div class="box box-2">
                                    <div class="answer-text">
                                        <div class="caption">Ответ</div>
                                        {{ item.answerText }}
                                    </div>
                                    <div class="right-text">
                                        {{ item.rightText }}
                                    </div>
                                </div>
                            </div>

                            <div class="panel-button">
                                <a href="#" class="btn answer">Ответ</a>
                                <a href="#" class="btn check">Проверить</a>
                            </div>

                         </div>
                    {% endfor %}
                </div>

                <div class="next-level-box">
                    <a href="{{ route('course.trash-mistake.nextlevel', trashMistakeName) }}" class="btn">
                        Я прошёл все тесты. Открыть следующий курс
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}