{% extends "global/index.twig" %}

{% block footer %}
    <script>
        window.wumvi = window.wumvi || {};
        window.trashMistake = (function(){
            var $root = jQuery('#wumvi-trash-mistake');

            function showAnswerBtnClick() {
                jQuery(this).parents('.trash-mistake-item-box:first').addClass('show-answer-mode');
                return false;
            }

            function hideAnswerBtnClick() {
                jQuery(this).parents('.trash-mistake-item-box:first').removeClass('show-answer-mode');
                return false;
            }

            function init(){
                $root.find('.question-box tr').each(function(num, trObj){

                    var $answerObj = jQuery(trObj).parents('.trash-mistake-item-box:first').find('.answer-box .body');
                    var answerHeight = $answerObj.outerHeight();
                    var questionHeight = jQuery(trObj).find('.body:first').outerHeight();

                    if (questionHeight < answerHeight) {
                        jQuery(trObj).find('.body .item:first').css({'height': answerHeight});
                    }

                    $answerObj = jQuery(trObj).parents('.trash-mistake-item-box:first').find('.answer-box .check-btn-box .item');
                    answerHeight = $answerObj.outerHeight();
                    questionHeight = jQuery(trObj).find('.check-btn-box:first .item').outerHeight();

                    if (questionHeight > answerHeight) {
                        $answerObj.css({'height': questionHeight});
                    }
                });


                initEvent();
            }

            function initEvent() {
                $root.find('.show-answer-btn').click(showAnswerBtnClick);
                $root.find('.hide-answer-btn').click(hideAnswerBtnClick);
            }

            init();
        })();

    </script>
{% endblock %}

{% block content %}

    <style>
        #wumvi-trash-mistake .item{
            padding: 18px;

            background: #FAFAFA;
            border: 1px solid #F0F0F0;

            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;

            box-sizing: border-box;
            -moz-box-sizing: border-box; /*Firefox 1-3*/
            -webkit-box-sizing: border-box; /* Safari */

            display: inline-block;
            position: relative;

            width: 100%;
        }

        #wumvi-trash-mistake .question-box .item{
            padding: 18px 18px 5px 18px;
        }

        #wumvi-trash-mistake .answer-box .item{
            background: #FFF;
        }

        #wumvi-trash-mistake table{
            margin-bottom: 20px;
        }

        #wumvi-trash-mistake td{
            vertical-align: top;
            padding: 0;
        }

        #wumvi-trash-mistake .item input{
            -webkit-border-radius: 0;
            -moz-border-radius: 0;
            border-radius: 0;

            -webkit-box-shadow: none;
            -moz-box-shadow: none;
            box-shadow: none;

            border: 0;
            width: 100%;

            margin: 0;
            height: 50px;

            box-sizing: border-box;
            -moz-box-sizing: border-box; /*Firefox 1-3*/
            -webkit-box-sizing: border-box; /* Safari */
        }

        #wumvi-trash-mistake .wrong-text{

        }

        #wumvi-trash-mistake .answer-text{

        }

        #wumvi-trash-mistake .question-text{
            margin-top: 20px;

        }

        #wumvi-trash-mistake .right-text{

        }

        #wumvi-trash-mistake td.check-btn-box{
            width: 200px;
            padding-left: 19px;
            text-align: center;
        }

        #wumvi-trash-mistake .item .btn{
            width: 100%;
            box-sizing: border-box;
            -moz-box-sizing: border-box; /*Firefox 1-3*/
            -webkit-box-sizing: border-box; /* Safari */
            text-align: center;

            background: #fff;
        }

        #wumvi-trash-mistake .item .btn:hover{
            background: #F9F9F9;
        }

        #wumvi-trash-mistake .item-text{
            font-size: 16px;
            padding-left: 10px;
        }

        #wumvi-trash-mistake .trash-mistake-item-box{
            position: relative;

        }

        #wumvi-trash-mistake .question-box{
            position: relative;
            z-index: 2;
        }

        #wumvi-trash-mistake .answer-box{
            position: absolute;
            top: -3px;
            left: 3px;
            z-index: 1;
        }

        #wumvi-trash-mistake .bridge{
            position: absolute;
            right: -24px;
            top: 20px;
            z-index: 1;
        }

        #wumvi-trash-mistake .check-btn-box .show-answer-btn{
            font-size: 10px;
            color: #bfbfbf;
            margin-top: 10px;
            display: inline-block;
        }

        #wumvi-trash-mistake .trash-mistake-item-box.show-answer-mode .answer-box{
            z-index: 3;
            top: auto;
            left: auto;
            position: relative;
        }

        #wumvi-trash-mistake .trash-mistake-item-box.show-answer-mode .question-box{
            position: absolute;
            top: -3px;
            left: 3px;
        }

        #wumvi-trash-mistake .answer-box .right-text{
            font-weight: bold;
            margin-bottom: 15px;
        }

        #wumvi-trash-mistake .answer-mode{
            width: 48px;
            height: 48px;
            position: absolute;
            right: 250px;
            bottom: -12px;
            z-index: 5;
        }

        #wumvi-trash-mistake .trash-mistake-item-box.right-answer-mode .answer-mode{
            background: url('/res/img/ok.png') no-repeat;
        }

        #wumvi-trash-mistake .trash-mistake-item-box.wrong-answer-mode .answer-mode{
            background: url('/res/img/wrong.png') no-repeat;
        }
    </style>

    <div id="maincontentcontainer">
        <div id="maincontent">

            <div id="wumvi-trash-mistake">
                <h2>Исправьте ошибки в предложениях</h2>
                {% for item in trashMistakeList %}
                    <div class="trash-mistake-item-box right-answer-mode">
                        <table class="question-box" data-id="{{ item._id }}" data-regexp="{{ item.regexp }}">
                            <tr>
                                <td class="body">
                                    <div class="item">
                                        <div class="wrong-text">
                                            <input type="text" value="{{ item.wrongText }}"/>
                                        </div>
                                        <div class="question-text item-text">
                                            {{ item.questionText }}
                                        </div>
                                        <img src="/res/img/bridge.png" class="bridge"/>
                                    </div>
                                </td>
                                <td class="check-btn-box">
                                    <div class="item">
                                        <a href="#check" class="btn">Проверить</a>
                                        <a href="#show-answer" class="show-answer-btn">показать ответ</a>
                                    </div>
                                </td>
                            </tr>
                        </table>

                        <table class="answer-box">
                            <tr>
                                <td class="body">
                                    <div class="item">
                                        <div class="right-text item-text">
                                            {{ item.rightText }}
                                        </div>
                                        <div class="answer-text item-text">
                                            {{ item.answerText }}
                                        </div>
                                        <img src="/res/img/bridge-white.png" class="bridge"/>
                                    </div>
                                </td>
                                <td class="check-btn-box">
                                    <div class="item">
                                        <a href="#" class="btn hide-answer-btn">Скрыть</a>
                                    </div>
                                </td>
                            </tr>
                        </table>

                        <div class="answer-mode"></div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}