{% extends "global/index.twig" %}

{% block head %}
    <link href="/res/sass/bin/progress.css" rel="stylesheet"/>
    <link href="/res/sass/bin/content-slide-box.css" rel="stylesheet"/>
    <link href="/res/sass/bin/course/trashMistake.css" rel="stylesheet"/>
{% endblock %}

{% block footer %}
    <script src="/res/js/loadjs.js"></script>
    <script>
        jQuery(document).ready(function(){
            var loader = new wumvi.LoadScript([
                '/res/js/wumvi/Utils.js',
                '/res/js/ProgressBar.js',
                '/res/js/wumvi/ContentSlideBox.js',
                '/res/js/wumvi/TrashMistake/TrashMistake.js',
                '/res/js/wumvi/TrashMistake/Form.js',
                '/res/js/wumvi/TrashMistake/Event.js'
            ], function(){
               var trashMistake = new wumvi.TrashMistake();
            });
        });
    </script>
{% endblock %}

{% block content %}

    <style>
        #slider {
            background-image: url('/res/img/slider/slider-bg-01.jpg');
        }
    </style>

    <div id="slider">
        <div class="sliderinner">
            <a href="#" title="Как правильно учить граммитку?">
                <img src="/res/img/slider/mistake.png" title="Как правильно учить граммитку?"
                     alt="Как правильно учить граммитку?"/>
            </a>
        </div>

        <div class="header">
            <a href="" class="back"></a>
            <img src="/res/img/course/mistake/caption.png"/>
        </div>
    </div>

    <div id="maincontentcontainer">
        <div id="maincontent" class="container">

            {% include 'global/breadcrumbs/breadcrumbs.twig' %}

            <div class="content-slide-box" id="wumvi-trash-mistake">
                <div class="list-wrapper">
                    {% for key, item in trashMistakeList.list %}
                        <div class="item item-{{ key }}" data-id="{{ item.id }}" id="item-tm-{{ key }}" data-regexp="{{ item.regexp }}">
                            <div class="text-box">
                                <div class="box box-1">
                                    <div class="question-text">
                                        {{ item.questionText }}
                                    </div>
                                    <div class="wrong-text">
                                        {{ item.wrongText|raw }}
                                    </div>
                                </div>
                                <div class="box box-2">
                                    <div class="answer-text">
                                        {{ item.answerText }}
                                    </div>
                                    <div class="right-text">
                                        {{ item.rightText }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>

                <div class="panel-button">
                    <a href="#" class="item-btn answer" id="showAnswer" data-text="Показать вопрос">Показать ответ</a>
                    <a href="#" class="item-btn check" id="checkAnswer">Проверить</a>
                    <a href="#" class="item-btn next" id="nextQuestion">Далее</a>
                </div>
            </div>
            <div class="progress-box" id="progressRound" data-count="{{ trashMistakeList.list|length }}"></div>

            <div class="open-next-level-box">
                <a href="{{ route('course.trash-mistake.nextlevel', trashMistakeName) }}" class="btn">
                    Я прошёл все тесты. Открыть следующий курс
                </a>
            </div>
        </div>
    </div>
{% endblock %}