{# Шаблон для видео в курсах #}

{% extends "global/index.twig" %}

{% block head %}
    <link href="/res/sass/bin/course/card.css" rel="stylesheet"/>
{% endblock %}

{% block footer %}
    <script src="/res/js/loadjs.js"></script>
    <script>
        jQuery(document).ready(function () {
            var loader = new wumvi.LoadScript([
                '/res/bower_package/jplayer/dist/jplayer/jquery.jplayer.js',
                '/res/js/wumvi/EventDomDispatcher/EventDomDispatcher.js',
                '/res/js/wumvi/ContentSlideBox.js',
                '/res/js/wumvi/Card/Card.js'
            ], function () {
                wumvi.card.init();
            });
        });
    </script>
{% endblock %}

{% block content %}
    {% spaceless %}

        <div id="maincontentcontainer">
            <div id="maincontent" class="container">

                {% include 'global/breadcrumbs/breadcrumbs.twig' %}

                {% set resurl = resurl('/res/sound/speaking/' ~ itemName ~ '/%name.%ext', 'snd') %}

                <style>
                    .translation .list{
                        margin-top: 20px;
                    }

                    .list .eng{
                        font-weight: 600;
                        color: #666;
                    }
                </style>

                <div class="sent-item-list gutters" id="sent-item-list" data-resurl="{{ resurl }}">
                    {% for cardKey, cardItem in speakingList %}
                        <div class="sent-item-box sent-item-box-js span_8" data-id="{{ cardKey }}" id="card-{{ cardKey }}">
                            <div class="caption caption-js">
                                       <span class="translation">
                                          {{ cardItem.title }}
                                    </span>
                                <span class="play-sound play-sound-js"></span>
                            </div>
                            <div class="description-box description-box-js">
                                <div class="translation">
                                    {{ cardItem.description }}

                                    <ul class="list">
                                        {% for eng, trans in cardItem.sample %}
                                            <li>
                                                <span class="eng">{{ eng }}</span>
                                                -
                                                <span class="trans">{{ trans }}</span>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>






{#

                <div class="content-slide-box" id="wumvi-card-box" data-resurl="{{ resurl }}">
                    <div class="word-list-box">
                        <ul>
                            {% for cardKey, cardItem in speakingList %}
                                <li data-id="{{ cardKey }}">{{ cardItem.title }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="word-card-box">
                        {% for cardKey, cardItem in speakingList %}
                            <div class="item item-card" data-id="{{ cardKey }}" id="speaking-{{ cardKey }}">
                                <div class="caption">{{ cardItem.title }}</div>
                                <div class="description">{{ cardItem.description }}</div>
                                <ul>
                                    {% for eng, trans in cardItem.sample %}
                                        <li>
                                            <span class="eng">{{ eng }}</span>
                                            -
                                            <span class="trans">{{ trans }}</span>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endfor %}

                        <div class="panel-button">
                            <a href="#" class="item-btn">&nbsp;</a>
                            <a href="#" class="item-btn check" id="playSound">Озвучить</a>
                            <a href="#" class="item-btn">&nbsp;</a>
                        </div>
                    </div>
                </div>
#}
                <div class="open-next-level-box">
                    <a href="{{ route('course.trash-mistake.nextlevel', trashMistakeName) }}" class="btn">
                        Я прошёл все тесты. Открыть следующий курс
                    </a>
                </div>

            </div>
        </div>

        <div id="player-box"></div>
    {% endspaceless %}
{% endblock %}