{# Шаблон для видео в курсах #}

{% extends "global/index.twig" %}

{% block head %}
    <link href="/res/sass/bin/content-slide-box.css" rel="stylesheet"/>
    <link href="/res/sass/bin/course/card.css" rel="stylesheet"/>
{% endblock %}

{% block footer %}
    <script src="/res/js/loadjs.js"></script>
    <script>
        jQuery(document).ready(function(){
            var loader = new wumvi.LoadScript([
                '/res/bower_package/jplayer/dist/jplayer/jquery.jplayer.js',
                '/res/js/wumvi/ContentSlideBox.js',
                '/res/js/wumvi/Speaking/Speaking.js',
            ], function(){
                var speaking = new wumvi.Speaking();
            });
        });
    </script>
{% endblock %}

{% block content %}
    {% spaceless %}

        <style>
            .content-slide-box .item{
                font-size: 16px;
                line-height: 22px;
            }

            .content-slide-box .item .description{

                margin-bottom: 10px;
            }

            .content-slide-box .item .caption{
                font-size: 18px;
                line-height: 24px;
                margin-bottom: 10px;
                font-weight: bold;
            }

            .content-slide-box .item{
                height: 291px;
                overflow: auto;
            }
        </style>

        <div id="maincontentcontainer">
            <div id="maincontent" class="container">

                {% include 'global/breadcrumbs/breadcrumbs.twig' %}

                {% set resurl = resurl('/res/sound/speaking/' ~ itemName ~ '/%name.%ext', 'snd') %}
                <div class="content-slide-box" id="wumvi-card-box" data-resurl="{{ resurl }}">
                    <div class="word-list-box">
                        <ul>
                            {% for cardKey, cardItem in speakingList %}
                                <li data-id="{{ cardKey }}">{{ cardItem.title }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="word-card-box">
                        {% for cardKey, cardItem in speakingList %}
                            <div class="item item-card" data-id="{{ cardKey }}" id="speaking-{{ cardKey }}">
                                <div class="caption">{{ cardItem.title }}</div>
                                <div class="description">{{ cardItem.description }}</div>
                                <ul>
                                    {% for eng, trans in cardItem.sample %}
                                        <li>
                                            <span class="eng">{{ eng }}</span>
                                            -
                                            <span class="trans">{{ trans }}</span>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endfor %}

                        <div class="panel-button">
                            <a href="#" class="item-btn">&nbsp;</a>
                            <a href="#" class="item-btn check" id="playSound">Озвучить</a>
                            <a href="#" class="item-btn">&nbsp;</a>
                        </div>
                    </div>
                </div>

                <div class="open-next-level-box">
                    <a href="{{ route('course.trash-mistake.nextlevel', trashMistakeName) }}" class="btn">
                        Я прошёл все тесты. Открыть следующий курс
                    </a>
                </div>

            </div>
        </div>

        <div id="player-box"></div>
    {% endspaceless %}
{% endblock %}