{% extends "global/index.twig" %}

{% block footer %}
    <script src="/res/js/loadjs.js"></script>
    <script>
        jQuery(document).ready(function(){
            var loader = new wumvi.LoadScript([
                '/res/js/ProgressBar.js',
                '/res/js/wumvi/Pendulum/Pendulum.js'
            ], function(){
                var pendulum = new wumvi.Pendulum();
            });
        });
    </script>
{% endblock %}

{% block head %}
    <link href="/res/sass/bin/progress.css" rel="stylesheet"/>
    <link href="/res/sass/bin/course/pendulum.css" rel="stylesheet"/>
{% endblock %}

{% block content %}
    <script>
        window.wumvi = window.wumvi || {};
        wumvi.storage.pendulumList = [];
        {% for item in pendulumList %}
            wumvi.storage.pendulumList.push({
               timeBegin:{{ item.timeBegin }},
               timeEnd: {{ item.timeEnd }},
               questionText: "{{ item.question }}"
           });
        {% endfor %}
    </script>


    <style>
        #wumvi-pendulum-testing.hide{
            display: none;
        }

        #maincontentcontainer{
            background: #fff;
        }

    </style>

    <!--[if gte IE 9]>
    <style type="text/css"> .gradient { filter: none; } </style>
    <![endif]-->

    <style>
        #slider {
            background-image: url('/res/img/slider/slider-bg-01.jpg');
        }
    </style>

    <div id="slider">
        <div class="sliderinner">
            <a href="#" title="Как правильно учить граммитку?">
                <img src="/res/img/slider/pendulume.png" title="Как правильно учить граммитку?"
                     alt="Как правильно учить граммитку?"/>
            </a>
        </div>
    </div>

    <div id="maincontentcontainer">
        <div id="maincontent" class="container">

            <div id="wumvi-pendulum">
                <div class="content">

                    <div id="wumvi-pendulum-start-screen" class="show wumvi-pendulum-start-screen">
                        <div class="btn-list">
                            <a href="#start" class="start-page-btn start-page-btn-js" data-text2="Заново!">Начать!</a>
                        </div>

                        <div class="open-next-level-box">
                            <a href="{{ route('course.pendulum.nextlevel', pendulumName) }}" class="btn">
                                Маятник готов! Переходим на следующий уровень.
                            </a>
                        </div>
                    </div>

                    {# ----------------------------------------------------------- #}
                    <div id="wumvi-pendulum-testing">
                        <div class="questionBox question-box-js box">
                            <div class="text"></div>
                        </div>
                        <div class="answerBox box">
                            <table>
                                <tr>
                                    <td class="img"><img src="/res/img/trainer.png"/></td>
                                    <td class="text">
                                        <img class="count-down count-down-img-js" data-src="/res/img/count-down-{num}.gif"/>
                                        <img src="/res/img/bubble.png" class="bubble"/>

                                        <span class="motivation-words-js"></span>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="progress-box" data-count="{{ pendulumList|length }}" id="progressSquare"></div>
                    </div>
                    {# ----------------------------------------------------------- #}

                    <div id="wumvi-pendulum-end" class="wumvi-pendulum-end">
                        Маятник завершен. Хорошая работа!
                    </div>

                </div>
            </div>


        </div>
    </div>
{% endblock %}