{# Шаблон для видео в курсах #}

{% extends "global/index.twig" %}

{% block footer %}
{% endblock %}

{% block content %}
    <style>


        #maincontentcontainer{
            background: #fff;
        }

        .main-caption{
            margin-bottom: 30px;
            font-size: 20px;
        }

        #slider {
            background: url('/res/img/slider/slide-bg3-3.jpg') center;
            background-size: cover;
        }

        .span_12.col {
            margin-bottom: 30px;
        }

        table td.description{
            vertical-align: top;
            padding: 0 10px;
        }

        table td.description .caption{
            font-size: 24px;
            margin-bottom: 10px;
        }

        table td.description .description{
            font-size: 18px;
            line-height: 24px;
            margin-bottom: 20px;
        }

        table td.description .info{
            color: #8a8a8a;
            margin-bottom: 18px;
        }

        .category{
            display: inline-block;
            margin-left: 10px;
        }

        .btn{
            width: 100%;
            display: block;
            border: 1px solid #e6e5e6;
            color: #8a8a8a;
            padding: 10px 0;
            font-weight: bold;
        }

        .btn:hover{
            background: #93dc82;
            color: #FFF;
            border-color: #5fdf41;

            -webkit-box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.15);
            -moz-box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.15);
            box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.15);

            text-shadow: 1px 1px 1px rgba(23, 123, 0, 1);
        }


        .warning-box {
            margin: 30px 0;
            padding: 12px;
            text-align: center;
        }

        .warning-box.warning{
            color: #9F6000;
            background-color: #FEEFB3;
        }

        .warning-box.warning a, .warning-box.warning a.active{
            color: #9F6000;
        }

    </style>

    <div id="slider">
        <div class="sliderinner">
            <a href="#" title="Как правильно учить граммитку?">
                <img src="/res/img/slider/get-abstract.png" title="Как правильно учить граммитку?"
                     alt="Как правильно учить граммитку?"/>
            </a>
        </div>
    </div>

    <div id="maincontentcontainer">
        <div id="maincontent" class="container">
            {% include 'global/breadcrumbs/breadcrumbs.twig' %}

            <h1 class="main-caption">Книги начального уровня</h1>

            {% if isDemoMode %}
                <div class="warning-box warning">
                    Чтобы посмотреть книгу, необходимо
                    <a href="{{ route('user.login') }}?_from={{ documentUrl }}">авторизоваться</a>
                </div>
            {% endif %}

            <div class="row">
                {% for key, book in bookList %}
                    <div class="span_12 col {{ isDemoMode ? 'demoMode' }}">
                        <table>
                            <tr>
                                <td class="preview">
                                    <img src="{{ repository('/res/img/course/abstract/choose/' ~ book.id ~ '.png') }}"/>
                                </td>
                                <td class="description">
                                    <div class="caption">Eat that frog</div>
                                    <div class="info">
                                        <span class="author">Brian Tracy</span>
                                        <span class="category">Категория: Личностный рост</span>
                                    </div>
                                    <div class="description">
                                        С помощью данной книги вы сможете правильно планировать день.
                                        Фокусировать внимание на значимых задачах. Получать более высокие результаты.
                                        Книга польностью избавлена от воды и содержит чистый и натуральный сок знаний.
                                    </div>
                                    <div>
                                        {% if isDemoMode %}
                                            <a href="{{ route('user.login') }}?_from={{ documentUrl }}" class="btn">Авторизоваться</a>
                                        {# Костыль, пока другие книги не будут доделаны #}
                                        {% elseif courseLevelOpened == 1 and book.id != 'eat-that-frog' %}
                                            <div style="text-align: center; font-weight: bold">Книга доступна с второго урока</div>
                                        {% else %}
                                            <a href="{{ route('course.choose.book.logic', courseName ) }}?book-id={{ book.id }}" class="btn">Выбрать</a>
                                        {% endif %}
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                {% endfor %}
            </div>

        </div>
    </div>
{% endblock %}