{# Шаблон для видео в курсах #}

{% extends "global/index.twig" %}

{% block head%}
    <link href="/res/bower_package/mediaelement/build/mediaelementplayer.min.css" rel="stylesheet"/>
{% endblock %}

{% block footer %}

    <script src="/res/js/loadjs.js"></script>
    <script>
        jQuery(document).ready(function(){
            "use strict";
            var loader = new wumvi.LoadScript([
                '/res/bower_package/mediaelement/build/mediaelement-and-player.min.js'
            ], function(){
                jQuery('.audioPlayer').mediaelementplayer({
                    audioWidth: 380,
                    success: function(me) {

                    }
                });
            });
        });
    </script>


    <div id="modal">
        <div class="wrapper">
            <div class="inner">
                <div class="text"></div>
                <div class="close"></div>
            </div>
        </div>
    </div>

    <style>

        #modal .english-example{
            padding-left: 20px;
            margin-top: 20px;
            font-style: italic;
            color: #6d6d6d;
        }

        #modal  .word-highlight{
            font-weight: bold;
        }

        #modal .additional{
            margin-top: 20px;
        }

        #modal .inner {
            width: 800px;
            padding: 50px;
            min-height: 337px;
            background: #fff;
            margin: 0 auto;
            /* border-radius: 6px; */
            overflow: hidden;
            -webkit-box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, 0.1);
            -moz-box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, 0.1);
            border: 1px solid #cdcdcd;
            position: relative;
        }

        #modal.show .inner {
            margin-top: 0;
            opacity: 1;
            -webkit-transition: all .3s linear 0s;
            -moz-transition: all .3s linear 0s;
            -o-transition: all .3s linear 0s;
            transition: all .3s linear 0s;
        }

        #modal{
            width: 100%;
            height: 100%;
            position: fixed;
            top: 0;
            left: 0;
            background: rgba(0, 0, 0, .4);
            display: none;

            z-index: 20;
        }

        #modal.show{
            display: table;

        }

        #modal .close{
            background: url('/res/img/sprite/close.png') no-repeat;
            width: 25px;
            height: 25px;
            display: block;
            position: absolute;
            top: 10px;
            right: 10px;
            opacity: 0.2;
            /* IE 8 */
            -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
            cursor: pointer;
        }

        #modal .close:hover{
            opacity: 1;
        }

        #modal .wrapper{
            display: table-cell;
            vertical-align: middle;
        }

        #modal .text{
            font-size: 20px;
            line-height: 24px;
            font-weight: normal;
        }

        @media only screen and (max-width: 1020px) {
            #modal .inner {
                width: 95%;
            }
        }


        ul{
            margin-left: 30px;
        }
    </style>

    <script src="/res/js/loadjs.js"></script>
    <script>
        jQuery(document).ready(function(){
            var loader = new wumvi.LoadScript([
                '/res/js/wumvi/Book/Book.js'
            ], function(){
                var abstractBook = new wumvi.AbstractBook();
            });
        });
    </script>

{% endblock %}

{% block content %}

    <style>
        #absBox{
            margin-top: 20px;
            border-top: 1px dotted #d0d1d2;
        }
        
        #absBox .text{
            font-size: 24px;
            line-height: 40px;
        }

        #absBox .text p{
            font-size: inherit;
        }

        #absBox .text:hover .other, #absBox .text:hover h2{
            -webkit-filter: url(#blur);
            filter: url(#blur);
            -webkit-filter: blur(1px);
            filter: blur(1px);
            filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='1');
            color: #999;
            transition: 0.3s all linear;
        }

        #absBox .phrase{
            font-weight: 600;
            cursor: pointer;
            display: inline-block;
            transition: 0.3s all linear;
            color: #000000;
        }

        #absBox .phrase:hover{
            color: #0068c1;
        }

        #absBox h2{
            font-size: 30px;
            font-weight: 600;
            margin: 40px 0 20px 0;
        }

        #absBox .explanation{
            display: none;
        }

        .next-level-box{
            margin-top: 20px;
            text-align: center;
        }

        .next-level-box .btn:hover{
            background: #5fcf2d;
            color: #fff;
        }

        .btn.test{
            margin-right: 20px;
        }

        /*******************************************************************/


        .download-panel .item{
            display: inline-block;
            padding: 2px 8px;
            text-decoration: none;
            color: #fff;
            background: #3498DB;
            margin-left: 8px;
            text-transform: lowercase;
            font-size: 12px;
            opacity: 0.3;
        }

        .download-panel .item:hover{
            opacity: 1;
        }

        /*.download-panel .item.pdf{

        }

        .download-panel .item.txt{
            background: #19b5fe;
        }

        .download-panel .item.mp3-teacher{
            background: #2574a9;
        }

        .download-panel .item.mp3-eng{
            background: #4b77be;
        }*/
        .players-box{
            overflow: hidden;
            clear: both;
            margin-left: -30px;
        }

        .players-box .player-item{
            float: left;
            margin: 0 0 20px 30px;
        }

        .players-box .player-item .caption2{
            font-weight: bold;
            margin-bottom: 8px;
        }

    </style>

    <div id="maincontentcontainer">
        <div id="maincontent" class="container">

            {% include 'global/breadcrumbs/breadcrumbs.twig' %}

            {% set mp3Eng = '/res/book/' ~ downloadId ~ '-eng.mp3' %}
            {% set mp3Teacher = '/res/book/' ~ downloadId ~ '-teacher.mp3' %}

            <div class="players-box">
                <div class="player-item">
                    <div class="caption2">Носитель языка</div>
                    <audio controls="control" class="audioPlayer" preload="none" src="{{ mp3Eng }}" type="audio/mp3">
                    </audio>
                </div>

                <div class="player-item">
                    <div class="caption2">Объяснение преподавателя</div>
                    <audio controls="control" class="audioPlayer" preload="none" src="{{ mp3Teacher }}" type="audio/mp3">
                    </audio>
                </div>
            </div>

            <div class="download-panel">
                Скачать
                <a href="/res/book/{{ downloadId }}.pdf" target="_blank" class="pdf item">Pdf</a>
                <a href="/res/book/{{ downloadId }}.txt" target="_blank" class="txt item">Txt</a>
                <a href="{{ mp3Eng }}" target="_blank" class="mp3-eng item">Mp3: англ</a>
                <a href="{{ mp3Teacher }}" target="_blank" class="mp3-teacher item">Mp3: рус</a>
            </div>


            <div id="absBox">
                {{ printFile(contentFile) }}
            </div>


                {#
            <div class="open-next-level-box">
                <a href="{{ route('material.getabstract.nextlevel', abstractName) }}" class="btn">
                    Я выучил(а) текст. Открыть следующий курс
                </a>
            </div>#}
        </div>
    </div>
{% endblock %}